@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
span {
    display: block;
}

body {
    line-height: 1;
    /* overflow: hidden; */
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

/* eric end */
@font-face {
    font-family: 'Chenyuluoyan';
    src: url('./ChenYuluoyan-Thin.ttf') format("truetype");
}
@font-face {
    font-family: 'ZhuZiAWan';
    src: url('./ZhuZiAWan-2.ttc') format("truetype");
}

@font-face {
    font-family: 'GenSenRounded2TW-B';
    src: url('./GenSenRounded2TW-B.otf') format("truetype");
}

@font-face {
    font-family: 'GenSenRounded2TW-R';
    src: url('./GenSenRounded2TW-R.otf') format("truetype");
}

/* 動畫區 */
@keyframes ilineLogo{
    0%{
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        /* height: 300px; */
    }
    60%{
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        /* height: 300px; */
    }
    80%{
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        /* height: 300px; */
    }
    85%{
        top: 150px;
        transform: translateY(0%);
        opacity: 0;
        /* height: 100px; */
    }
    100%{
        top: 150px;
        transform: translateY(0%);
        opacity: 1;
        /* height: 100px; */
    }
}

@keyframes lantern {
    0% {
        transform: translateY(-100%);
    }

    25% {
        transform: translateY(0%);
    }

    40% {
        transform: translateY(0%) rotate(1deg);
    }

    55% {
        transform: translateY(0%) rotate(-1deg);
    }

    70% {
        transform: translateY(0%) rotate(.5deg);
    }

    85% {
        transform: translateY(0%) rotate(-.5deg);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes tips {
    0% {

        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}

@keyframes ripples {
    from {
        width: 5px;
        opacity: 1;
    }

    to {
        width: 100px;
        opacity: 0;
    }
}

@keyframes opacity{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes year-down{
    0%{
        transform: translate(-50%,-100%);
        opacity: 0;
    }
    50%{
        transform: translate(-50%,0%);
    }
    100%{
        transform: translate(-50%,0%);
        opacity: 1;
    }
}

@keyframes down{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes rise{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes leftBotton{
    0%{
        transform: translate(-100%,100%);
        opacity: 0;
    }
    50%{
        transform: translate(0%,0%);
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}

@keyframes left{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes triangle-left{
    0%{
        transform: rotate(180deg) translateX(100%);
        opacity: 0;
    }
    50%{
        transform: rotate(180deg) translateX(0%);
    }
    100%{
        transform: rotate(180deg) translateX(0%);
        opacity: 1;
    }
}

@keyframes right{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes flower-opacity{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    50%{
        transform: rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes flower-rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes dropHand{
    0%{
        width: 0px;
    }
    25%{
        width: 300px;
    }
    50%{
        width: 300px;
    }
    75%{
        width: 300px;
    }
    100%{
        width: 0px;
    }
}

@keyframes dropHand-opacity{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.card-position {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
    overflow: hidden;
}

.fullcard {
    aspect-ratio: 133 / 182;
    width: var(--fullcard-width);
    position: relative;
    perspective: 2000px;
    transition: all 0.6s;
}

.fullcard>div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.6s;
    transform-style: preserve-3d;
    transform-origin: left;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.fullcard>div>div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.6s;
    background-size: contain;
    border-radius: var(--border-radius);
    overflow: hidden;
}


.page-1 {
    z-index: 4;
}

.page-1 .front {
    background-image: url(./image/1.jpg);
}

.page-1 .back {
    background-image: url(./image/4.jpg);
}


.front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.back {
    background-color: antiquewhite;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* .changePage{
    transform: rotateY(-130deg);
} */


/* 第二頁 */

.page-2 {
    z-index: 3;
}

.page-2 .front {
    background-image: url(./image/contentbackground.png);
    background-color: #FFF;
}

.page2Zoom {
    zoom: var(--page2Zoom);
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ilineLogo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    width: 400px;
    /* margin-bottom: 30px; */
    animation: ilineLogo 3.8s ease-in-out 0s normal forwards;
}

.contentText {
    transform: translateY(65px);
    text-align: center;
    width: 70%;
    font-family: "GenSenRounded2TW-B", sans-serif;
    font-size: 24px;
    line-height:200%;
    font-weight: 300;

    opacity: 0;
    animation: opacity 1.5s ease-in-out 3.8s normal forwards;
}

/* 加載動畫樣式 */
#loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F1EA;
    /* 背景遮罩 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    z-index: 9999;
    opacity: 1;
    /* 初始透明度 */
    transition: opacity 0.5s ease;
    /* 添加透明度過渡 */
}

#progressBar {
    width: 80%;
    background-color: #FFF;
    border-radius: 50px;
    /* overflow: hidden; */
    padding: 3px;
}

#progress {
    height: 20px;
    width: 0%;
    background-color: #F47685;
    transition: all 0.2s;
    position: relative;
    border-radius: 50px;
}

#progressText {
    margin-top: 50px;
    color: #82AD82;
    font-weight: 700;
}

.loadingSnakes {
    width: 100px;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-65%);
    z-index: 20;
}



/* 第二頁 */

/* 燈籠 */
.ilineContent {
    background-image: url(./image/lantern.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    aspect-ratio: 1 / 8;
    transform-origin: top;

    display: none;
    transform: translateY(-100%);
}

.lantern-light {
    position: absolute;
    left: 50%;
    bottom: 8.5%;
    transform: translateX(-50%);
    aspect-ratio: 1 / 1;
    width: 60%;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 226, 84, 1) 0%, rgba(255, 226, 84, 0) 80%, rgba(255, 226, 84, 0) 100%);
    opacity: 30%;
    transition: all .5s ease;
}

/* 個別燈籠 */

#iline-shop {
    height: 600px;
    left: 1px;
    top: 0px;
    z-index: 3;

    animation: lantern 2s ease-in-out .5s normal forwards;
}


#iline-member {
    height: 792px;
    left: 32px;
    top: -35px;
    z-index: 1;

    animation: lantern 2s ease-in-out .7s normal forwards;
}

#iline-medicine {
    height: 640px;
    right: 15px;
    top: 0px;
    z-index: 2;

    animation: lantern 2s ease-in-out .6s normal forwards;
}



/* popup */

.pop {
    visibility: hidden;
    opacity: 0;
    width: 300px;
    /* height: 600px; */
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.5px;
    padding: 28px 16px;
    text-align: center;
    font-size: 16px;
    word-break: break-all;
    z-index: 20;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

.pop-img {
    width: 40%;
    margin: 20px 0px 40px 0px;
}

.pop h3{
    font-family: "GenSenRounded2TW-B", sans-serif;
    /* font-weight: 500; */
    font-size: 24px;
    margin-bottom: 32px;
}

.pop p{
    font-family: "GenSenRounded2TW-M", sans-serif;
}

#close-btn {
    background-image: url(./image/btn/icon/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 28px;
    height: 28px;
}

.pop.show {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}


/* tips 提示動畫 */


.tips {
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
    z-index: 30;

    opacity: 0;
    animation: tips 1.5s linear 1.8s normal forwards;
}

.needToClick {
    width: 120px;
    height: 120px;
    position: absolute;
}

.ripples {
    position: relative;
    width: 120px;
    height: 120px;
}

.ripples>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    aspect-ratio: 1 / 1;
    width: 5px;
    border-radius: 50%;
    animation: ripples 3s ease-in infinite normal;
}

.ripples .circle-2 {
    animation-delay: 1s;
}

.ripples .circle-3 {
    animation-delay: 2s;
}

.needToClick .hand {
    position: absolute;
    top: 55px;
    right: 20px;
    width: 60px;
}

.needToClick-1 {
    bottom: 305px;
    left: -20px;
}


.needToClick-2 {
    bottom: 136px;
    left: 22px;
}

.needToClick-3 {
    bottom: 272px;
    right: -5px;
}



/* 第三頁 */
.page-3 {
    z-index: 2;
}

.page-3 .front {
    background-image: url(./image/2.jpg);
}
/* 月曆 */


#calenderpage{
    animation: opacity 1.5s ease-in-out normal forwards;;
}

.calender{
    position: relative;
    width: 60%;
    height: 260%;
    background-image: url(./image/calender/calender-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.calender>img,.calender>span{
    position: absolute;
}

.calenderYear{
    width: 110%;
    left: 50%;
    top: 75px;

    opacity: 0;
    transform: translateX(-50%);
    animation: year-down 3s ease-in-out normal forwards;
}

.calenderDay{
    width: 65%;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);

    opacity: 0;
    animation: opacity 1.5s ease-in-out 1.8s normal forwards;
}

#calenderClouldline-1{
    width: 65px;
    left: -33px;
    bottom: 257px;

    opacity: 0;
    transform: translateX(-100%);
    animation: left 3s ease-in-out .5s normal forwards;
}

#calenderClouldline-2{
    width: 80px;
    right: -33px;
    top: 232px;

    opacity: 0;
    transform: translateX(100%);
    animation: right 3s ease-in-out normal forwards;
}

#calenderCloulddot-1{
    width: 130px;
    left: -62px;
    bottom: 187px;

    opacity: 0;
    transform: rotateX(180deg) translateX(-100%);
    animation: left 3s ease-in-out normal forwards;
}

#calenderCloulddot-2{
    width: 100px;
    right: 25px;
    bottom: 143px;

    opacity: 0;
    transform: translateX(100%);
    animation: right 3s ease-in-out .5s normal forwards;
}

/* 綠花 */
#calenderGreenflower-1{
    width: 65px;
    left: -31px;
    top: 237px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

#calenderGreenflower-2{
    width: 33px;
    right: 19px;
    bottom: 207px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

#calenderRedflower-1{
    width: 32px;
    left: 6px;
    top: 307px;

    opacity: 0;
    animation: flower-opacity 8s ease .5s forwards, flower-rotate 8s linear .5s infinite;
}

#calenderRedflower-2{
    width: 80px;
    right: -40px;
    bottom: 244px;

    opacity: 0;
    animation: flower-opacity 8s ease .5s forwards, flower-rotate 8s linear .5s infinite;
}

.claenderText{
    height: 100%;
    text-align: center;
    transform: translateY(-55px);
    width: 75%;
}

.claenderText>h4{
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: .11em;
    color: #D70051;

    opacity: 0;
    transform: translateX(-100%);
    animation: down 3s ease-in-out 2s normal forwards;
}

.clip{
    overflow: hidden;
}

.claenderText .content{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 200%;
    letter-spacing: .1em;

    opacity: 0;
    transform: translateX(-100%);
    animation: down 3s ease-in-out 2.5s normal forwards;
}

.claenderText .content p:nth-of-type(1){
    margin-top: 28px;
}

.claenderText .content p:nth-of-type(2){
    font-weight: 700;
}


/* 第四頁 */
.page-4 {
    z-index: 1;
}

#contactpage{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#contactpage>img{
    position: absolute;
    /* display: none; */
}

.companyLogo{
    position: relative;

    opacity: 0;
    animation: opacity 1.5s ease-in-out 1s normal forwards;
}

.contactcfan{
    width: 350px;
}

.contactcloud-1,.contactcloud-2{
    position: absolute;
    width: 120px;

    opacity: 0;
}

.contactcloud-1{
    animation: left 3s ease-in-out 1s normal forwards;
}

.contactcloud-2{
    animation: right 2.5s ease-in-out 1.5s normal forwards;
}


#contactpage>h4{
    font-family: "ZhuZiAWan";
    font-size: 28px;
    font-weight: 600;

    opacity: 0;
    animation: opacity 1.5s ease-in-out 1.3s normal forwards;
}

#contactpage>p{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 160%;
    font-size: 20px;

    opacity: 0;
    animation: opacity 1.5s ease-in-out 1.6s normal forwards;
}

.contactcloud-1{
    left: -24px;
    top: 23px;
}
.contactcloud-2{
    right: -22px;
    bottom: 18px;
}

.contactButton{
    display: flex;
    gap: 16px;

    opacity: 0;
    animation: rise 1.5s ease-in-out 2.3s normal forwards;
}

.contactButton>button{
    color: #fff;
    padding: 8px 28px;
    border-radius: 50px;
    font-size: 20px;
    font-family: "ZhuZiAWan";
    font-weight: 600;

}

.conpanyWeb{
    background-color: #F6BE5B;
}

.conpanyLine{
    background-color: #22AC38;
}


.contactTriangle{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contactTriangle>img{
    position: absolute;
    opacity: 0;
}

.darkredtriangle-1{
    height: 500px;
    left: 0;
    bottom: 0;

    animation: triangle-left 3s ease-in-out .5s normal forwards;
}

.darkredtriangle-2{
    height: 430px;
    right: 0;
    top: 0;

    animation: right 3s ease-in-out .5s normal forwards;
}

.greentriangle{
    left: 0;
    bottom: 0;
    width: 480px;

    animation: rise 3s ease-in-out .5s normal forwards;
}

.redtriangle{
    left: 0;
    bottom: 0;
    width: 260px;

    animation: leftBotton 3s ease-in-out .5s normal forwards;
}

.contactMoney-1,.contactMoney-2{
    height: 700px;
    
    transform: translateY(-100%);
    transform-origin: top;
}

.contactMoney-1{
    left: 26px;
    top: -380px;

    animation: lantern 4s ease-in-out normal forwards;
}

.contactMoney-2{
    right: 26px;
    bottom: 210px;

    animation: lantern 4s ease-in-out normal .5s forwards;
}

.contactYellowflower{
    width: 110px;
    left: 55px;
    bottom: 140px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

.contactDarkredflower-1{
    width: 35px;
    left: 165px;
    bottom: 115px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

.contactDarkredflower-2{
    width: 30px;
    left: 45px;
    top: 355px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

.contactGreenflower-1{
    width: 30px;
    right: 145px;
    top: 20px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

.contactGreenflower-2{
    width: 75px;
    left: -15px;
    top: -20px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

.contactRedflower{
    width: 75px;
    right: 75px;
    top: 50px;

    opacity: 0;
    animation: flower-opacity 8s ease 1.3s forwards, flower-rotate 8s linear 1.3s infinite;
}

/* 滑動提示 */
.dropHand{
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%,-50%);
    /* background-color: #15e6e9; */
    width: 300px;

    display: none;
    justify-content: right;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    opacity: 0;
    
    animation: dropHand-opacity 5s ease-in-out 0s normal infinite;
    zoom: var(--page2Zoom);
}

.dropHandArrow{
    position: relative;
    width: fit-content;
}

.dropHandArrowTriangle{
    width: 30px;
    height: 30px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #FFF;
}

.dropHandArrowLine{
    /* background-color: #22AC38; */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50px,rgba(255,255,255,0) 100%);
    width: 0px;
    height: 10px;
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 30px 100%, 0% 50%);

    animation: dropHand 5s ease-in-out 0s normal infinite;
}

.dropHandSvg{
    width: 60px;
    position: absolute;
    left: -5px;
    top: 20px;
}